## .NET 构建产物
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]/
build/
bld/
[Oo]ut/
artifacts/
*.dll
*.pdb
*.user
*.suo
*.cache
*.tlog
*.binlog

## Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.userprefs
*.DotSettings.user

## 测试与覆盖率
[Tt]est[Rr]esult*/
TestResults/
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

## NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/
!packages/build/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
